.users-list-container {
  width: auto;
  height: fit-content;

  .title {
    height: 24px;
    display: flex;
    margin-left: 16px;

    button {
      width: 24px;
      height: 24px;
      border: none;
    }

    .material-icons {
      font-size: 20px;
      color: #374761;
    }

    &-name {
      margin-left: 8px;
      text-align: left;
      font: normal normal normal 20px/24px Roboto;
      letter-spacing: 0px;
      color: #374761;
      opacity: 1;
    }

    hr {
      height: 0.01em;
      margin: 12px 24px 12px 8px;
      background-color: #707070;
      opacity: 1;
      flex-grow: 1;
    }
  }

  .users-list {
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 15px;
    column-gap: 15px;
  }
}

@media screen and (max-width: 1800px){
  .users-list-container {
    .users-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

// desktop styles
@media screen and (max-width: 1280px){
  .users-list-container {
    .users-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1200px){
  .users-list-container {
    .users-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

// tablet styles
@media screen and (max-width: 744px){
  .users-list-container {
    .title {
      margin-left: 8px;
    }

    .users-list {
      margin-top: 12px;
      margin-bottom: 24px;
      margin-left: 16px;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 12px;
      column-gap: 12px;
    }
  }
}

// mobile styles
@media screen and (max-width: 360px){
  .users-list-container {
    .title {
      margin-left: 8px;
    }

    .users-list {
      margin-top: 12px;
      margin-bottom: 24px;
      margin-left: 16px;
      row-gap: 5px;
      column-gap: 3px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
