.dialog {
  &-container {
    width: 560px;
    height: fit-content;
    margin-left: 8px;

    .announcement {
      margin-bottom: 16px;
      text-align: left;
      font: normal normal normal 16px/24px Roboto;
      letter-spacing: 0px;
      color: #5A5A5A;
      opacity: 1;
    }

    .input-content {
      width: 525px;
      height: 30px;
      background: #FFFFFF00 0% 0% no-repeat padding-box;
      border: 1px solid #858585;
      border-radius: 6px;
      opacity: 1;
      font: normal normal normal 16px/19px Roboto;
      letter-spacing: 0px;
      color: #858585;
      padding-left: 12px;
    }

    .input-content:focus {
      color: #721b1b;
      font: normal normal bold 16px/19px Roboto;
    }

    .errors {
      margin-left: 10px;
      text-align: left;
      font: normal normal 300 12px/16px Roboto;
      letter-spacing: 0px;
      color: #E64121;
      opacity: 1;

    }

    .input-error {
      border: red 0.01em solid;
      margin-bottom: 0px;
    }

  }

  &-footer {
    width: 540px;
    margin-top: 24px;
    display: flex;

    .cancel-button {
      width: 60px;
      height: 36px;
      margin-left: auto;
      margin-right: 24px;
      text-align: center;
      font: normal normal bold 14px/19px Roboto;
      letter-spacing: 1.25px;
      color: #32458F;
      opacity: 1;
      border: none;
      background-color: transparent;
    }

    .cancel-button:hover {
      color: #7e818a;
      border: none;
      background-color: transparent;
    }

    .delete-button {
      width: 81px;
      height: 36px;
      background: #FB4646 0% 0% no-repeat padding-box;
      border-radius: 4px;
      opacity: 1;
      border: none;
      text-align: left;
      font: normal normal bold 14px/19px Roboto;
      letter-spacing: 0px;
      color: #FFFFFF;
      text-align: center;
    }

    .delete-button:hover {
      background: #ff0000 0% 0% no-repeat padding-box;
    }


  }





}


// desktop styles
@media screen and (min-width: 745px) and (max-width: 1280px){
  .dialog {
    &-container {
      width: 400px;


      .input-content {
        width: 380px;
      }

    }

    &-footer {
      width: 100%;
      display: flex;
      margin-top: 5px;

    }
  }
}

// tablet styles
@media screen and (min-width: 361px) and (max-width: 744px){
  .dialog {
    &-container {
      width: 350px;

      .announcement {
        margin-bottom: 12px;
        font-size: 14px;
      }

      .input-content {
        width: 330px;
        height: 25px;
        font-size: 14px;
      }

    }

    &-footer {
      width: 100%;
      margin-top: 5px;

    }

  }
}

// mobile styles
@media screen and (max-width: 360px){
  .dialog {
    &-container {
      width: 230px;

      .announcement {
        margin-bottom: 10px;
        font-size: 9px;
      }

      .input-content {
        width: 215px;
        height: 20px;
        font-size: 10px;
      }

      .errors {
        margin-left: 7px;
        font-size: 10px;

      }

    }

    &-footer {
      width: 100%;
      margin-top: 0px;

      .cancel-button {
        width: 40px;
        height: 25px;
        margin-right: 15px;
        font-size: 10px;

      }

      .delete-button {
        width: fit-content;
        height: fit-content;
        padding: 2px 6px;
        font-size: 10px;
      }

    }





  }
}



