<div class="dialog-container">
  <div class="announcement">
    <span>Are you sure you want to DELETE </span>
    <span style="color: #f50025; font-weight:bold;">{{userEmail}}</span>
    <br>
    <span>Please input the user email as confirmation.</span>
  </div>

  <div>
    <input
      class="input-content"
      id="confirmEmail"
      type="text"
      placeholder="Email"
      [formControl]="emailControl"
      [ngClass]="{'input-error':isEmailRequired || isMatchEmail || isWrongEmailFormat}"/>

    <div *ngIf="!isEmailRequired && !isMatchEmail && !isWrongEmailFormat" style="height: 16px;" class="errors"></div>
    <div *ngIf="isEmailRequired" style="height: 16px;" class="errors">Please enter user email</div>
    <div *ngIf="isMatchEmail" style="height: 16px;" class="errors">Email input not match email user</div>
    <div *ngIf="isWrongEmailFormat" style="height: 16px;" class="errors">Wrong email format</div>
  </div>

  <div class="dialog-footer">
    <button class="cancel-button" type="button" (click)="onCloseDialog()">CANCEL</button>

    <button
      class="delete-button"
      type="button"
      [disabled]="!isValid"
      (click)="onDelete()"
      [ngClass]="{'enable':isValid, 'unable': !isValid}"
      >DELETE</button>
  </div>
</div>
