@import '../../../styles.scss';


.navbar {

  &-container {
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    /* UI Properties */
    background: rgba(255, 255, 255, 0.4);
    justify-content: space-between;
  }

  &-logo {
    /* Layout Properties */
    top: 12px;
    margin-left: 16px;
    max-width: 120px;
    max-height: 32px;
    height: auto;
    /* UI Properties */
    opacity: 1;
    position: relative;
  }

  &-nav {
    margin-right: 16px;

  }
}

ul li {

  list-style: none;
  display: inline-flex;
  padding: 0px 5px;

}

button {
  border: none;
  background-color: transparent;
}

.material-icons {
  color: #00458F;
}

.material-icons:hover {
  color: #278af4;
}



// desktop styles
@media screen and (min-width: 745px) and (max-width: 1280px){

}

// tablet styles
@media screen and (min-width: 361px) and (max-width: 744px){
  .navbar {
    &-logo {
      margin-left: 8px;
    }

    &-nav {
      margin-right: 8px;
    }
  }



}

// mobile styles
@media screen and (max-width: 360px){
  .navbar {
    &-logo {
      margin-left: 8px;
    }

    &-nav {
      margin-right: 8px;
    }
  }
}
