<nav class="navbar-container">
    <a href="#" class="navbar-logo">
      <img src="../../../assets/icons/logo.svg"/>
    </a>

    <div class="navbar-nav">
      <ul >
        <li>
          <span>
            <button>
              <i class="material-icons">apps</i>
            </button>

          </span>
        </li>
        <li>
          <span>
            <button>
              <i class="material-icons">notifications</i>
            </button>
          </span>
        </li>
        <li>
          <span>
            <button>
              <i class="material-icons">account_circle</i>
            </button>
          </span>
        </li>
      </ul>
  </div>



</nav>
