.dashboard {
  &-container {
    width: 100%;
    height: 90%;
    background: #EEEEEE 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  &-top {
    display: flex;
    justify-content: space-between;
    height: auto;
  }

  &-top-left {
    margin-top: 32px;
    button {
      margin-left: 24px;
      padding: 12px;
      width: 148px;
      background: #00458F 0% 0% no-repeat padding-box;
      border-radius: 4px;
      opacity: 1;
      border: none;
      position: relative;
      font: normal normal medium 14px/19px Roboto;
      letter-spacing: 0px;
      color: #FFFFFF;
     }

     button:hover {
      background: #3783d3 0% 0% no-repeat padding-box;
     }

     button fa-icon {
      margin-right: 8px;
     }
  }

  &-top-right {
    display: flex;
    margin-right: 24px;
    margin-top: 32px;
  }

  &-sort {
    &-label {
      margin-right: 5px;
      text-align: left;
      font: normal normal normal 16px/19px Roboto;
      letter-spacing: 0px;
      color: #707070;
    }

    &-select {
      width: 180px;
      height: 38px;
      font: normal normal normal 14px/17px Roboto;
      color: #374761;
      padding: 3px 3px 3px 12px;
      background-position: right 1rem center;
      border-radius: 6px;
      border-color: #4a4c4e;
      opacity: 1;
    }

    button {
      width: 38px;
      height: 38px;
      position: relative;
      border: none;
    }

    .material-icons {
      font-size: 15px
    }
  }

  &-search {
    display: flex;

    .vr {
      margin: 6px 16px 6px 0px;
      width: 1px;
      height: 24px;
      background-color: #707070;
      opacity: 1;
    }

    .input-container {
      width: 400px;
      height: 36px;
      background: hsla(0, 0%, 100%, 1) 0% 0% no-repeat padding-box;
      border: 0.5px solid hsla(0, 0%, 47%, 1);
      border-radius: 4px;
      opacity: 1;
      display: flex;
    }

    .input-content {
      margin-left: 8px;
      margin-top: 1px;
      width: 75%;
      border: none;
      text-align: left;
      font: normal normal normal 16px/19px Roboto;
      letter-spacing: 0px;
      color: #777777;
    }

    .input-content:focus{
      outline: none; // Add this line
    }

    .material-icons {
      margin: 6px 0px 6px 12px;
      font-size: 24px;
      color: #777777;
    }
  }

  &-content {
    width: auto;
    margin-top: 24px;
  }
}

// desktop styles
@media screen and (max-width: 1280px) {
  .dashboard {
    &-sort {
      &-select {
        width: 130px;
      }
    }

    &-search {
      .input-container {
        width: 300px;
      }
    }
  }
}

// tablet styles
@media screen and (max-width: 744px) {
  .dashboard {
    &-top-left {
      margin-top: 24px;
      button {
        margin-left: 16px;
        width: 110px;
        font-size: 10px;
        padding: 8px 10px 8px 10px;
       }

       button fa-icon {
        margin-right: 6px;
        font-size: 10px;
       }
    }

    &-top-right {
      margin-right: 16px;
      margin-top: 24px;
    }

    &-sort {
      &-label {
        margin-right: 4px;
        font-size: 13px;
      }

      &-select {
        width: 70px;
        height: 27px;
        padding-left: 8px;
        font-size: 13px;
      }

      button {
        width: 27px;
        height: 27px;
      }

      .material-icons {
        font-size: 12px
      }
    }

    &-search {
      .vr {
        margin: 3px 8px 3px 0px;
        width: 1px;
        height: 20px;
      }

      .input-container {
        width: 100px;
        height: 27px;
      }

      .input-content {
        margin-left: 6px;
        margin-bottom: 1px;
        width: 60%;
        font-size: 13px;
        position: relative;
      }

      .material-icons {
        margin: 2px 0px 2px 8px;
        font-size: 24px;
        color: #777777;
      }
    }

    &-content {
      margin-top: 16px;
    }

  }
}

// mobile styles
@media screen and (max-width: 400px){
  .dashboard {
    &-top-left {
      margin-top: 16px;
      button {
        margin-left: 16px;
        width: 80px;
        font-size: 10px;
        padding: 8px 10px 8px 10px;
       }

       button fa-icon {
        margin-right: 4px;
        font-size: 8px;
       }
    }

    &-top-right {
      margin-right: 16px;
      margin-top: 16px;
    }

    &-sort {
      &-label {
        margin-right: 2px;
        font-size: 13px;
      }

      &-select {
        width: 50px;
        height: 27px;
        padding-left: 8px;
        font-size: 13px;
      }

      button {
        width: 27px;
        height: 27px;
      }

      .material-icons {
        font-size: 12px
      }
    }

    &-search {
      .vr {
        margin: 3px 4px 3px 0px;
        width: 1px;
        height: 20px;
      }

      .input-container {
        width: 70px;
        height: 27px;
      }

      .input-content {
        margin-left: 6px;
        margin-bottom: 1px;
        width: 60%;
        font-size: 13px;
        position: relative;
      }

      .material-icons {
        margin: 2px 0px 2px 8px;
        font-size: 24px;
        color: #777777;
      }
    }

    &-content {
      margin-top: 16px;
    }
  }
}
