<div class="dashboard-container">
  <div class="dashboard-top">
    <div class="dashboard-top-left">
      <button type="button" (click)="onOpenAddEmployeeDialog()">
        <fa-icon [icon]="faPlus"></fa-icon>
        CREATE USER
      </button>
    </div>

    <div class="dashboard-top-right">
      <div class="dashboard-sort">
        <span class="dashboard-sort-label">Sort by</span>
        <select id="sortOption" class="dashboard-sort-select" (change)="selectedSortOption()">
          <option *ngFor="let option of sortOptions" value="{{option.id}}">{{option.name}}</option>
        </select>
        <span>
          <button type="button" (click)="onClickOrder()">
            <i class="material-icons">{{getOrderIcon()}}</i>
          </button>
        </span>
      </div>

      <div class="dashboard-search">
        <div class="vr"></div>
        <div class="input-container">
          <i class="material-icons">search</i>
          <input
            id="search"
            class="input-content"
            type="text"
            placeholder="Search"
            [formControl] = "searchControl"/>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-content">
    <app-users-list
      [usersByTitleId]="usersByTitleId"
      [expands]="expands">
    </app-users-list>
  </div>
</div>
