<div class="dashboard-container">
  <div class="dashboard-top">
    <div class="dashboard-top-left">
      <button (click)="onOpenAddEmployeeDialog()">
        <fa-icon [icon]="faPlus"></fa-icon>
        CREATE USER
      </button>
    </div>

    <div class="dashboard-top-right">
      <div class="dashboard-sort">
        <span class="dashboard-sort-label">Sort by</span>

        <select id="sortOption" class="dashboard-sort-select" (change)="selectedSortOption()">
          <option *ngFor="let option of sortOptions" value="{{option.id}}">{{option.name}}</option>
        </select>

        <span>

          <button (click)="onClickOrder()">
            <i class="material-icons">{{getOrderIcon()}}</i>
          </button>
        </span>
      </div>

      <div class="dashboard-search">
        <div class="vr"></div>

        <div class="input-container">
          <i class="material-icons">search</i>
          <input id="search" class="input-content" type="text" placeholder="Search" (input)="changeSearch($event)"/>

        </div>

      </div>

    </div>

  </div>

  <div class="dashboard-content">
    <app-users-list [sortOptionId]="defaultSortOptionId" [isASC]="isASC" [searchQuery]="searchQuery"></app-users-list>
  </div>







</div>

