.user-card {
  background-color: #fff;
  width: 445px;
  height: 128px;
  display: flex;

  img {
    width: 128px;
    height: 128px;
    object-fit: cover;
  }
}

.user-details {
  margin: 10px 10px;
  text-align: left;
  font: normal normal normal 14px/21px Roboto;
  letter-spacing: 0px;
  color: #3D3D3D;

  .active {
    text-align: left;
    font: normal normal normal 14px/21px Roboto;
    letter-spacing: 0px;
    color: #50B849;
  }
}

// desktop styles
@media screen and (max-width: 1280px){
  .user-card {
    width: 385px;
    height: 110px;

    img {
      width: 100px;
      height: 110px;
    }
  }

  .user-details {
    margin: 10px 10px;
    font: normal normal normal 13px/20px Roboto;

    .active {
      font: normal normal normal 13px/20px Roboto;
    }
  }
}

// tablet styles
@media screen and (max-width: 744px){
  .user-card {
    width: 300px;
    height: 120px;

    img {
      width: 100px;
      height: 120px;
    }
  }

  .user-details {
    margin: 10px 10px;
    font: normal normal normal 13px/18px Roboto;

    .active {
      font: normal normal normal 13px/18px Roboto;
    }
  }
}

@media screen and (max-width: 600px){
  .user-card {
    width: 230px;
    height: 90px;

    img {
      width: 90px;
      height: 90px;
    }
  }

  .user-details {
     margin: 5px;
     margin-bottom: 6px;
     font: normal normal normal 10px/14px Roboto;

    .active {
      font: normal normal normal 10px/14px Roboto;
    }
  }
}

@media screen and (max-width: 500px){
  .user-card {
    width: 170px;
    height: 60px;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .user-details {
     margin: 3px;
     margin-bottom: 3px;
     font: normal normal normal 8px/10px Roboto;

    .active {
      font: normal normal normal 8px/10px Roboto;
    }
  }
}

// mobile styles
@media screen and (max-width: 360px){
  .user-card {
    width: 160px;
    height: 60px;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .user-details {
     margin: 3px;
     margin-bottom: 3px;
     font: normal normal normal 7px/10px Roboto;

    .active {
      font: normal normal normal 7px/10px Roboto;
    }
  }
}
