<div class="user-card">
  <img src="../../assets/images/avatar.jpg"/>

  <div class="user-details">
    <div>
      <b>First name: </b>
      <span>Chevalier</span>
    </div>

    <div>
      <b>Last name: </b>
      <span>Deverille</span>
    </div>

    <div>
      <b>Tenant: </b>
      <span>Kuwait Petroleum Corporation</span>
    </div>

    <div>
      <b>Email Address: </b>
      <span>cdeverille29@imageshack.us</span>
    </div>

    <div>
      <b>Status: </b>
      <span>Active</span>
    </div>

  </div>

</div>
