<div class="user-card" (click)="onOpenUpdateEmployeeDialog()">
  <img src="{{user.UserImage}}"/>

  <div class="user-details">
    <div>
      <b>First name: </b>
      <span>{{user.UserFirstName}}</span>
    </div>

    <div>
      <b>Last name: </b>
      <span>{{user.UserLastName}}</span>
    </div>

    <div>
      <b>Company: </b>
      <span>{{user.UserCompany}}</span>
    </div>

    <div>
      <b>Email Address: </b>
      <span>{{user.UserEmail}}</span>
    </div>

    <div>
      <b>Status: </b>
      <span class="active">Active</span>
    </div>

  </div>

</div>
