<div class="user-card" (click)="onOpenUpdateEmployeeDialog()">
  <img src="{{user.image}}"/>

  <div class="user-details">
    <div>
      <b>First name: </b>
      <span>{{user.firstName}}</span>
    </div>

    <div>
      <b>Last name: </b>
      <span>{{user.lastName}}</span>
    </div>

    <div>
      <b>Company: </b>
      <span>{{user.company}}</span>
    </div>

    <div>
      <b>Email Address: </b>
      <span>{{user.email}}</span>
    </div>

    <div>
      <b>Status: </b>
      <span class="active">Active</span>
    </div>

  </div>

</div>
