

.user-card {
  background-color: #fff;
  width: 380px;
  height: 128px;
  display: flex;
  margin-right: 5px;

  .img {
    width: 128px;
    height: 128px;
  }
}

.user-details {
  margin: 20px 10px;
  text-align: left;
  font: normal normal normal 12px/18px Roboto;
  letter-spacing: 0px;
  color: #3D3D3D;

  .active {
    text-align: left;
    font: normal normal normal 12px/18px Roboto;
    letter-spacing: 0px;
    color: #50B849;
  }
}
